body {
    font-family: Arial, sans-serif;
    background-color: #0b178a;
    color: #e1ecf3 ;
}

.container {
    max-width: 800px;
    background-color: #6a6c7f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #180b51;
}

h1 {
    color: #ff5722;
    text-align: center;
}

button {
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #6f126b;
    transform: scale(1.1);
}

.bg-white {
    background-color: #282828;
    color: #f5f5f5;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
}

.text-danger {
    color: #ff1744;
    font-weight: bold;
}
